/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Dancing Script', cursive;
    height: 100%; /* Asegura que el body ocupe toda la altura */
    margin-top: 80px; /* Desplazar hacia abajo el contenido para que no se superponga con la barra de navegación */
}

/* Estilos de la barra de navegación */
nav {
    position: fixed;
    height: 80px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    background: #f1f1f1e6;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    z-index: 1000;
}

.logo {
    background: url(4616821.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px; /* Ajustado para que se vea mejor */
    height: 50px;
    margin-left: 20px;
}

.menu {
    position: absolute;
    right: 30px;
}

.menu a {
    color: #0056b3; /* Azul más suave */
    text-decoration: none;
    font-weight: 800;
    margin-left: 40px;
    transition: color 0.3s; /* Transición más rápida */
    padding: 10px;
}

.menu a:hover {
    color: brown;
}

/* Contenedor general de fondo */
.container {
    background: url('fondito.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh; /* Asegura que cubra la altura completa de la ventana */
    padding-top: 80px; /* Asegura que no se sobreponga con el menú */
    padding-bottom: 50px; /* Espacio para que no quede pegado al pie de la página */
}

/* Estilos de las secciones */
section {
    padding: 100px 20px;
    color: aliceblue;
}

section h2 {
    font-family: 'Lilita One', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    color: aliceblue;


}

section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: aliceblue;
}
